* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/*NAVIGATION BAR / HEADER*/
.header-container {
    display: flex;
    align-items: center;
}
/*.nav-container {*/
/*    display: flex;*/
/*}*/
#logo {
    border-radius: 50%;
    /*width: 5%;*/
    width: 100px;
    height: 70px;
    margin-left: 200px;
    margin-right: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}
#name-header {
    margin-right: 290px;
    font-size: 25px;
    color: white;
}
header {
    width: 100%;
    height: 90px;
    background-color: #285767;
    position: fixed;
    top: 0;
    /*padding: 5px;*/
}

nav ul {
    list-style: none;
}
nav li {
    /*box-sizing: border-box;*/
    display: inline-block;
    /*width: 150px;*/
    text-align: center;
    /*padding: 25px 0;*/
    background-color: #285767;
    font-size: 16px;
    font-weight: bold;
}

.active {
    background-color: #59A0B6;
}
nav li a p{
    padding: 27px 0;
    width:150px;
}
nav li:hover {
    background-color: #316B7E;

}
a {
    text-decoration: none;
}
header a:visited {
    color:white;
}

section {
    width: 80%;
    margin: auto;
    text-align: justify;
}
section h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    color: #285767;
}
section p{
   line-height: 40px;
    font-size: 20px;
}
.home-section {
    display: flex;
    justify-content: space-evenly;

}
/*ABOUT ME SECTION*/
.about-me-section {
    text-align: justify;
    font-size: 20px;
}
.about-me-first-paragraph {
    /*width: 70%;*/
    margin: 20px auto;
}
.paragraph {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
}
.paragraph p{
    margin: 0 30px;
}
.paragraph img{
    height: 500px;
    /*margin: 10px;*/
}
/*.photos:before {*/
/*    display: none;*/
/*}*/
/*.photos:after {*/
/*    display: none;*/
/*}*/
.photos {
    display: flex;
    margin: 10px 0;
    justify-content: space-evenly;

}
.photos img {
    height: 500px;
    /*margin: 0 auto;*/
    object-fit: scale-down;


}

/*TITLE WITH MARGIN*/
.title-margin {
    margin-top: 110px;
}
/*EDUCATION*/
.uni {
    margin: 20px;
}
.past-education {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.school {
    display: flex;
    align-items: center;
}
.school img {
    height: 500px;
    width: 300px;
}
.school ul {
    list-style-position: inside;
    list-style-type: circle;
    margin-right: 50px;
}
.high-school, .elementary-school{
   border: #285767 solid;
    padding: 50px;

}
.education-content {
    margin-top: 20px;
    line-height: 30px;

}
h3 {
    color: #285767;
}
section h2 {
    background-image: linear-gradient(to right, #285767,#8CD4EA);
    color: white;
    padding: 20px;
    margin-top: 40px;
}
/*HOME PAGE CONTENT*/
.home-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    /*border-bottom: solid 3px #285767;*/
    background-image: linear-gradient(to right, #285767,#8CD4EA);
    line-height: 70px;
}
.home-content-container img {
    width: 50%;
    height: 50%;
}
.welcome {
    text-align: center;
    font-size: 20px;
    margin-left: 200px;
    color: white;

}
.welcome h1 {
    font-size: 50px;
    text-shadow: 10px 10px 10px #285767;
}
/*BUTTONS*/
button {
    background-color: #285767;
    color: white;
    width: 200px;
    height: 70px;
    margin-top: 30px;
    border-radius: 25%;
    font-size:20px;
}
button {
   border: none;
    font-weight: bold;
}

button:hover {
    background-color: #316B7E;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
button a:visited {
    text-decoration: none;
    color: white;
}

.box {
    width: 300px;
    height: 400px;
    border-radius: 20%;
    border: 2px solid #285767;
    margin: 50px 0;
}
.icon {
    display: block;
    width: 150px;
    height: 150px;
    margin: 20px auto;
}
.box p {
    text-align: center;
    color: #285767;
    font-weight: bold;
    font-size: 25px;
}
.btn-read-more {
    display: block;
    margin: 40px auto;
}
.box hr {
    border: none;
    height: 1px;
    background-color: #285767;
    margin: 10px 25px;
}
/*TIMELINE*/
.timeline {
    display: flex;
    overflow-x: hidden;
}
.timeline img {
    /*width: 20%;*/
    height: 250px;
    margin-top: 70px;
    object-fit: scale-down;
}

/*TRAVEL*/
.first-row-gallery {
    display: flex;
    justify-content: space-between;
}
.gallery-box-vertical {
    width: 300px;
    height: 400px;
    border: 2px gray solid;

}
.gallery-box-vertical img {
    display: block;
    width: 200px;
    height: 300px;
    object-fit: contain;
    margin: 20px auto;
    
}

/*FOOTER*/
footer{
    /*position: fixed;*/
    display: block;
    width: 100%;
    bottom: 0;
    background-color: #316B7E;
    text-align: center;
}
#footer {
    display: block;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.social-media img {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-top: 20px;
}
.insta {
    margin-left: 200px;
}
/*@media only screen and (min-width: 1000px) {*/
/*    header {width: 50%;}*/
/*    nav li{width: 10%;}*/

/*}*/


